/* ここから下に記載していく */
.main {
   display: flex;
   justify-content: center;
   align-items: center; 
   margin-bottom: 60px;
}

.center {
  position: absolute;
  color: white;
  text-align: center;
}

.content {
   text-align: left;
   font-size: 16px;
   color: #222222;
   line-height: 2;
}

.course {
   margin-top: 60px;
   margin-bottom: 60px;
}

.container1 {
   display: flex;
   justify-content: center;
   margin-bottom: 60px;
   width: 100％;
}

.container {
   display: flex;
   justify-content:center;
   margin-bottom: 0px;
}

.card1 {
   width: 50%;
   background: #fafafa;
   padding-left: 50px;
   padding-right: 13%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}

.card2 {
   width: 50%;
   background: #fafafa;
   padding-right: 50px;
   padding-left: 13%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}

.card1-content {
   margin: auto;
   
}

.course-img {
   width: 50%;
   margin: 0;
}

.news {
   display: flex;
   justify-content: center;
   margin-right: 30px;
}

.news-content {
   width: 300px;
   margin-right: 15px;
   margin-left: 15px;
}

.news-content:hover {
   background-color: lightgoldenrodyellow;
}

.date {
   text-align: left;
   margin-top: 30px;
   margin-bottom: 24px;
}

.access {
   background-color: #fafafa;
   margin-top: 60px;
   margin-bottom: 60px;
   padding-top: 60px;
   padding-bottom: 60px;
}

table {
   display: flex;
   justify-content: center;
   line-height: 50px;
   margin: 0;
}

.map {
   width: 100%;
   position: relative;
   padding-top: 56.25%;
}

.map iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding-bottom: 60px;
}

.form {
   width: 640px;
   margin: 0 auto;
   margin-top: 0;
   margin-bottom: 0;
   border-top: 1px solid #bfbfbf;
   border-bottom: 1px solid #bfbfbf;
}

footer {
   background-color: #707070;
   color: white;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   margin-top: 140px;
}

.table1 {
   width: 640px;
   margin: 0 auto;
   margin-top: 70px;
   border-top: 2px solid #bfbfbf;
   border-collapse: collapse;
 }

.tr1 {
   text-align: left;
   padding-left: 5px;
   border-bottom: 1px solid #bfbfbf;
}

.table-item {
   text-align-last: left;
   margin-left: 16px;
   margin-right: 64px;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 1;
}

th {
   border-right: 1px solid #bfbfbf;
}

.box {
   width: 328px;
   height: 36px;
   margin: 8px;
   border: 1px solid #bfbfbf;
}

.box2 {
   width: 328px;
   height: 150px;
   margin: 8px;
   border: 1px solid #bfbfbf;
}

.reason {
   display: flex;
   flex-direction: column;
}

label {
   width: 400px;
   text-align: left;
   margin-top: 12px;
   margin-left: 8px;
   margin-bottom: 12px;
   line-height: 1;
}

input {
   margin-right: 10px;
}
